@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-indigo-100 text-[#313131] font-light;
}

label {
  @apply font-normal;
}
button {
  @apply bg-primary text-white rounded px-3 py-1.5 transition-colors inline-flex items-center justify-center gap-2 font-semibold;
}

button:not([disabled]) {
  @apply hover:bg-accent;
}

button[disabled] {
  @apply opacity-80 bg-gray-500;
}

a {
  @apply inline-flex gap-1 items-center font-normal;
}

input,
textarea {
  @apply px-3 py-1.5 border-primary border rounded font-normal;
}

input:focus-visible {
  @apply outline-blue-400;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.flex-center {
  @apply flex items-center justify-center;
}

.card {
  @apply bg-white rounded-md shadow-md overflow-hidden border border-slate-400;
}

.error {
  @apply text-red-500 text-sm;
}
